@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 262.1 0% 95%;
    --foreground: 262.1 0% 0%;
    --card: 262.1 0% 90%;
    --card-foreground: 262.1 0% 10%;
    --popover: 262.1 0% 95%;
    --popover-foreground: 262.1 95% 0%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224.10000000000002 10% 85%;
    --muted-foreground: 262.1 0% 35%;
    --accent: 224.10000000000002 10% 80%;
    --accent-foreground: 262.1 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262.1 0% 90%;
    --border: 262.1 20% 50%;
    --input: 262.1 20% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 1rem;
}
.dark {
    --background: 262.1 10% 5%;
    --foreground: 262.1 0% 90%;
    --card: 262.1 0% 0%;
    --card-foreground: 262.1 0% 90%;
    --popover: 262.1 10% 5%;
    --popover-foreground: 262.1 0% 90%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224.10000000000002 10% 15%;
    --muted-foreground: 262.1 0% 60%;
    --accent: 224.10000000000002 10% 15%;
    --accent-foreground: 262.1 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262.1 0% 90%;
    --border: 262.1 20% 18%;
    --input: 262.1 20% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 1rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-mono text-foreground;
    }
}
